@media all {
    :root {
        /*Cores opcionais*/
        --color-ametist: #8e44ad;
        --color-carbon: #2d3436;
        --colorCarrot: #e67e22;
        --color-crimson: #ff5252;
        --colorDeepRose: #c44569;
        --color-emerald: rgb(49, 155, 84);
        --colorJade: rgb(0, 168, 107);
        --colorPorcelainRose: #e66767;
        --colorPewter: #8e9294;
        --colorLuckyPoint: #2c2c54;
        --color-ruby: rgba(153, 12, 65, 1);
        --colorSapphire: rgba(6, 32, 73, 1);
        --colorSilver: #c0c0c0;
        --colorStrongCyan: #0fa8ba;
        --colorTopaz: rgb(231, 223, 84);

        /*Cores opcionais com transparência*/
        --baseColor3Transparent: rgba(92, 156, 204, 0.2);
        --colorEmeraldTransparent: rgba(44, 99, 75, 0.2);
        --colorTopazTransparent: rgba(231, 223, 84, 0.3);

        /*Imagens gradiente*/
        --baseGradientColor: linear-gradient(to top, #2980b9, #5c9ccc) !important;
    }

    *.bg__color {
        &.--primary {
            background-color: var(--primary_color) !important;
        }
        &.--secondary {
            background-color: var(--secondary-color) !important;
        }
        &.--ametist {
            background-color: var(--color-ametist) !important;
        }
        &.--crimson {
            background-color: var(--color-crimson) !important;
        }
        &.--emerald {
            background-color: var(--color-emerald) !important;
        }
        &.--ruby {
            background-color: var(--color-ruby) !important;
        }
    }

    *.text__color {
        &.--white {
            color: rgba(255, 255, 255, 1) !important;
        }
    }
}
