@media all {
    // Deslocamento
    *.float {
        &.--left {
            float: left !important;
        }
    }

    // Estilo de textos
    *.font__style {
        &.--bold {
            font-weight: bold !important;
        }
        &.--bold {
            font-weight: bold !important;
        }
        &.--normal {
            font-style: normal !important;
        }
        &.--italic {
            font-style: italic !important;
        }
    }

    // Peso da fonte
    *.font__weight {
        &.--normal {
            font-weight: normal !important;
        }
    }

    // Alinhamento de texto
    *.text__align {
        &.--center {
            text-align: center !important;
        }
        &.--left {
            text-align: left !important;
        }
        &.--right {
            text-align: right !important;
        }
    }

    // Tratamento de bordas
    *.border__radius {
        &.--rad__10 {
            border-radius: 10px !important;
        }
        &.--rad__20 {
            border-radius: 20px !important;
        }
        &.--rad__30 {
            border-radius: 30px !important;
        }
    }

    // Border
    *.border__bottom {
        &.--zero {
            border-bottom: 0px !important;
        }
    }

    // Tratamento dos espaçamentos
    *.padding {
        &.--zero {
            padding: 0px !important;
        }
    }
    *.padding__horizontal {
        &.--zero {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
}
