@media all {
    span.neon-badge {
        background-color: #ccc;
        border: 0px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        padding: 5px 10px;
        text-align: center;
        width: 100px;

        &.--blue {
            background-color: royalblue;
        }

        &.--green {
            background-color: #27ae60;
        }

        &.--red {
            background-color: #e74c3c;
        }
    }
}
