@media all {
    div.card {
        background-color: #fff;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        min-width: min-content;
        width: 100%;

        > {
            .border__bottom {
                border-bottom: 1px solid rgba(26, 54, 126, 0.125);
            }

            .border__top {
                border-top: 1px solid rgba(26, 54, 126, 0.125);
            }
        }

        div.card__header,
        div.card__body,
        div.card__footer {
            padding: 20px;
        }

        div.card__header {
            *.card__header__figure {
                margin-right: 10px;
            }
            *.card__title {
                font-size: 1.1rem !important;
                margin: 0;
            }
        }

        div.card__body {
        }

        div.card__footer {
        }
    }
}
