@charset "utf-8";

@media all {
    .neon-table {
        .dataset__amoung {
            display: block;
            font-size: 14px;
            padding: 20px 0px;
        }

        table.neon-table {
            border-collapse: collapse;
            font-size: 14px;
            width: 100%;

            tr td,
            tr th {
                padding: 10px;
            }

            thead {
                border-bottom: 1px solid #ccc;

                &.neon-table__radius {
                    tr th:first-of-type {
                        border-radius: 10px 0px 0px 0px;
                    }
                }

                &.neon-table__bgc {
                    &.--primary {
                        background-color: var(--neon-table-thead-bgc);
                        th {
                            color: var(--neon-table-thead-text-color) !important;
                        }
                    }
                }

                th {
                    color: #5c5c5c;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            tr:nth-child(even) {
                background-color: #fbfbfb;
            }

            tbody.neon-table__body {
                &.table__action {
                    &.--hide {
                        button {
                            display: none;
                        }
                    }
                }
            }

            tbody tr {
                &:hover {
                    background-color: #f1f1f1;
                    text-shadow: 0px 0px 1px #3c3c3c;
                    transition: ease-in 0.3s;
                }
                td {
                    border-bottom: 1px solid #f1f1f1;
                    color: #5c5c5c;
                    font-size: 12px;
                }
            }
        }

        // button {
        //     border-radius: 5px;
        //     border: 0px;
        //     color: #fff;
        //     cursor: pointer;
        //     display: none;
        //     font-weight: bold;
        //     margin: 0 2.5px;
        //     padding: 5px 10px;

        //     &:hover {
        //         filter: saturate(50%);
        //     }
        // }
    }
}

// Tamanho das colunas
@media all {
    table.neon-table thead {
        // tamanho por px
        th.tcol__px {
            &.size__10 {
                width: 10px;
            }
            &.size__20 {
                width: 20px;
            }
            &.size__30 {
                width: 30px;
            }
            &.size__40 {
                width: 40px;
            }
            &.size__50 {
                width: 50px;
            }
            &.size__70 {
                width: 70px;
            }
            &.size__80 {
                width: 80px;
            }
            &.size__100 {
                width: 100px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .neon-table {
        overflow-x: auto;
    }
}
