/**
* @Desc: 	Utilizado para criar blocos longos de textos, seja para avisos ou informações em geral
* @Author: 	Eduardo Marinho;
* @Version:	1.0.220118
**/

@charset "UTF-8";

@media all {
    div.warning {
        border-radius: 5px;
        font-size: 14px;
        padding: 10px;
        margin: 10px auto;
        width: auto;

        &.--alert {
            background-color: #ffeeba;
            border: 1px solid #ffe082;
            color: #856404;
        }

        &.--danger {
            background-color: #f8d7da;
            border: 1px solid #f8d7da;
            color: #721c24;
        }

        &.--info {
            background-color: #d0eeff;
            border: 1px solid #bee7ff;
            color: #0b5885;
        }
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    div.warning {
        text-align: center;
        &.--align__initial {
            text-align: initial !important;
        }
    }
}
