@media all {
    div.neon-window {
        background-color: rgba(255, 255, 255, 1);

        .neon-window__header,
        .neon-window__body,
        .neon-window__footer {
            padding: 20px;
        }
    }
}
