@charset "UTF-8";
/**
* Css pricipal do template Metro
**/
@media all {
  div.neon-dialog {
    background-color: var(--dialog-bg) !important;
    -webkit-box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
            box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: var(--dialog-font);
    min-width: 250px;
    max-width: 500px;
  }
  div.neon-dialog div.neon-dialog__header {
    color: var(--dialog-header-color);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 40px 15px 10px 15px;
    text-align: center;
  }
  div.neon-dialog div.neon-dialog__header *.neon-dialog__header__title {
    color: var(--dialog-title);
    font-size: 20px !important;
    font-weight: normal !important;
    margin: 0 !important;
  }
  div.neon-dialog div.neon-dialog__header button {
    background-color: transparent !important;
    border: none;
    color: #5c5c5c;
    cursor: pointer;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
    float: right;
    font-size: 18px !important;
    font-weight: normal !important;
    height: 28px !important;
    line-height: 18px;
    margin-right: -10px;
    margin-top: -70px;
    padding: 0px 10px;
    text-align: center;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    width: 28px !important;
  }
  div.neon-dialog div.neon-dialog__header button:focus, div.neon-dialog div.neon-dialog__header button:hover {
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
  }
  div.neon-dialog div.neon-dialog__body {
    padding: 16px 32px !important;
    text-align: center;
  }
  div.neon-dialog div.neon-dialog__body p {
    color: var(--body-color);
    font-size: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  div.neon-dialog div.neon-dialog__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn {
    background-color: var(--primary_color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-left: 5px;
    padding: 10px 12px;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    width: 100%;
    max-width: 120px;
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--close {
    background-color: var(--dialog-btn-close-bg);
    color: var(--dialog-btn-close-color);
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--cancel {
    background-color: var(--dialog-btn-cancel-bg);
    color: var(--dialog-btn-cancel-color);
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--cancel:focus, div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--cancel:hover {
    -webkit-filter: saturate(80%);
            filter: saturate(80%);
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn:focus, div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn:hover {
    -webkit-filter: saturate(50%);
            filter: saturate(50%);
  }
}

@media all {
  .c-loader {
    -webkit-animation: is-rotating 0.9s infinite;
            animation: is-rotating 0.9s infinite;
    border: 2px solid #e5e5e5;
    border-top-color: green;
    border-radius: 100%;
    height: 80px;
    margin: 0 auto;
    width: 80px;
  }
}

@-webkit-keyframes is-rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transition: ease-in;
    transition: ease-in;
  }
}

@keyframes is-rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transition: ease-in;
    transition: ease-in;
  }
}

@media all {
  .neon-modal {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: rgba(9, 30, 66, 0.54);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

@media all {
  .metro-template-aside.metro-template-aside-side-menu.show nav.metro-navigation ul li a {
    visibility: visible !important;
  }
  nav.metro-navigation {
    background-color: var(--navigation-bgc) !important;
  }
  nav.metro-navigation ul {
    padding: 0;
  }
  nav.metro-navigation ul li {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    list-style: none;
    height: 40px;
  }
  nav.metro-navigation ul li:focus, nav.metro-navigation ul li:hover {
    background-color: var(--navigation-bgc-hover) !important;
    color: #fff;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  nav.metro-navigation ul li:focus img,
  nav.metro-navigation ul li:focus div.metro-icon, nav.metro-navigation ul li:hover img,
  nav.metro-navigation ul li:hover div.metro-icon {
    -webkit-filter: opacity(100%) !important;
            filter: opacity(100%) !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent {
    height: auto !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent.--show {
    background-color: var(--navigation-parent-bgc);
    -webkit-filter: opacity(100%) !important;
            filter: opacity(100%) !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent.--show a:first-child {
    background-color: var(--navigation-bgc-hover) !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent.--show:hover {
    background-color: var(--navigation-parent-bgc) !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent.--show:hover a:hover {
    background-color: var(--navigation-bgc-hover) !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent.--show a {
    display: block !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent.--show a:first-child div.metro-icon {
    -webkit-filter: opacity(100%) !important;
            filter: opacity(100%) !important;
    -webkit-transition: ease-in-out 0.5s !important;
    transition: ease-in-out 0.5s !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent.--show a:first-child div.metro-icon:last-child {
    -webkit-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent a {
    display: none;
  }
  nav.metro-navigation ul li.metro-navigation-parent a:first-child {
    display: block !important;
  }
  nav.metro-navigation ul li.metro-navigation-parent a .metro-icon:last-child {
    float: right !important;
  }
  nav.metro-navigation ul li a {
    color: var(--navigation-link-color);
    font-size: 14px !important;
    padding: 10px 15px;
    text-decoration: none;
    visibility: hidden;
  }
  nav.metro-navigation ul li a img,
  nav.metro-navigation ul li a div.metro-icon {
    background-color: transparent !important;
    float: left;
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
    margin-right: 10px !important;
    width: 18px !important;
  }
}

@media all {
  div.metro-page__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 40px;
    margin: -10px -10px 20px;
  }
  div.metro-page__header .metro-page__icon,
  div.metro-page__header .metro-page__info,
  div.metro-page__header .metro-page__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  div.metro-page__header .metro-page__icon {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  div.metro-page__header .metro-page__icon figure {
    background-color: #fff;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
            box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: middle;
    height: 52px;
    width: 52px;
    margin: 0;
    margin-right: 10px !important;
  }
  div.metro-page__header .metro-page__icon figure img {
    width: 28px;
  }
  div.metro-page__header .metro-page__action {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto !important;
  }
  div.metro-page__header .metro-page__action button {
    margin: 0 5px;
    min-width: auto !important;
  }
  div.metro-page__header .--title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
  }
  div.metro-page__header .--subtitle {
    padding: 3px 0 0;
    font-size: 0.88rem;
    opacity: 0.6;
  }
  div.metro-page__body {
    padding: 0px 30px;
  }
}

@media all {
  figure.picture__box {
    background-size: 150px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    margin: 0;
    width: 150px;
  }
  figure.picture__box:hover div.picture__box__shade {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
  figure.picture__box:hover div.picture__box__shade button {
    display: block !important;
  }
  figure.picture__box div.picture__box__shade {
    background-color: transparent;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    position: relative;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    width: inherit !important;
  }
  figure.picture__box div.picture__box__shade button {
    border: none !important;
    display: none;
    background-color: transparent !important;
    cursor: pointer;
  }
}

@media all {
  div.tab__wrap nav.tab__collector {
    border-bottom: 1px solid #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    overflow-x: auto;
  }
  div.tab__wrap nav.tab__collector a {
    color: #929daf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none !important;
  }
  div.tab__wrap nav.tab__collector a:focus, div.tab__wrap nav.tab__collector a:hover {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  div.tab__wrap nav.tab__collector a:focus span, div.tab__wrap nav.tab__collector a:hover span {
    color: var(--primary_color);
    border-bottom: 0.5px solid var(--primary_color);
  }
  div.tab__wrap nav.tab__collector a.--active span {
    color: var(--primary_color);
    border-bottom: 2px solid var(--primary_color);
  }
  div.tab__wrap nav.tab__collector a span {
    background-position: 0 18px;
    background-repeat: no-repeat;
    background-size: 14px;
    margin: 0 auto;
    padding: 14px 15px 10px;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  div.tab__wrap nav.tab__collector a span .metro-icon {
    float: left;
    margin-right: 5px !important;
    margin-top: 2px !important;
  }
  div.tab__wrap div.tab__container .tab {
    display: none;
  }
  div.tab__wrap div.tab__container .tab.--active {
    display: block !important;
  }
}

@media all {
  span.neon-badge {
    background-color: #ccc;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
  }
  span.neon-badge.--blue {
    background-color: royalblue;
  }
  span.neon-badge.--green {
    background-color: #27ae60;
  }
  span.neon-badge.--red {
    background-color: #e74c3c;
  }
}

/**
* @desc: estilos que definem os botões do sistema como um todo
**/
@media all {
  button.neon-btn,
  input[type="button"].neon-btn,
  input[type="submit"].neon-btn {
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
    font-weight: bold;
  }
  button.neon-btn:active, button.neon-btn:focus, button.neon-btn:hover,
  input[type="button"].neon-btn:active,
  input[type="button"].neon-btn:focus,
  input[type="button"].neon-btn:hover,
  input[type="submit"].neon-btn:active,
  input[type="submit"].neon-btn:focus,
  input[type="submit"].neon-btn:hover {
    -webkit-filter: opacity(100);
            filter: opacity(100);
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  button.neon-btn.--cancel,
  input[type="button"].neon-btn.--cancel,
  input[type="submit"].neon-btn.--cancel {
    background-color: var(--btn-cancel);
    color: var(--btn-cancel-text-color);
  }
  button.neon-btn.--confirm,
  input[type="button"].neon-btn.--confirm,
  input[type="submit"].neon-btn.--confirm {
    background-color: var(--btn-confirm);
    color: var(--btn-confirm-text-color);
  }
  button.neon-btn.--return,
  input[type="button"].neon-btn.--return,
  input[type="submit"].neon-btn.--return {
    background-color: var(--btn-return);
    color: var(--btn-return-text-color);
  }
  button.neon-btn.btn__shape.--leafLeft, button.neon-btn.btn__shape.--folhaEsquerda,
  input[type="button"].neon-btn.btn__shape.--leafLeft,
  input[type="button"].neon-btn.btn__shape.--folhaEsquerda,
  input[type="submit"].neon-btn.btn__shape.--leafLeft,
  input[type="submit"].neon-btn.btn__shape.--folhaEsquerda {
    border: 0px;
    border-radius: 20px 0px 20px 0px;
  }
  button.neon-btn.btn__shape.--quadro, button.neon-btn.btn__shape.--square,
  input[type="button"].neon-btn.btn__shape.--quadro,
  input[type="button"].neon-btn.btn__shape.--square,
  input[type="submit"].neon-btn.btn__shape.--quadro,
  input[type="submit"].neon-btn.btn__shape.--square {
    border-radius: 0px !important;
  }
  button.neon-btn.btn__shape.--suave, button.neon-btn.btn__shape.--smooth,
  input[type="button"].neon-btn.btn__shape.--suave,
  input[type="button"].neon-btn.btn__shape.--smooth,
  input[type="submit"].neon-btn.btn__shape.--suave,
  input[type="submit"].neon-btn.btn__shape.--smooth {
    border-radius: 3px !important;
  }
  button.neon-btn.btn__shape.--redonda, button.neon-btn.btn__shape.--circle,
  input[type="button"].neon-btn.btn__shape.--redonda,
  input[type="button"].neon-btn.btn__shape.--circle,
  input[type="submit"].neon-btn.btn__shape.--redonda,
  input[type="submit"].neon-btn.btn__shape.--circle {
    border-radius: 100% !important;
  }
  button.neon-btn.btn__size.--fixed,
  input[type="button"].neon-btn.btn__size.--fixed,
  input[type="submit"].neon-btn.btn__size.--fixed {
    height: initial !important;
  }
  button.neon-btn.btn__size.--great,
  input[type="button"].neon-btn.btn__size.--great,
  input[type="submit"].neon-btn.btn__size.--great {
    font-weight: 400;
    letter-spacing: 0.5pt;
    padding: 16px !important;
    width: 100% !important;
  }
  button.neon-btn.btn__size.--large,
  input[type="button"].neon-btn.btn__size.--large,
  input[type="submit"].neon-btn.btn__size.--large {
    padding: 7.5px 10px;
    width: 100% !important;
  }
  button.neon-btn.btn__size.--mid,
  input[type="button"].neon-btn.btn__size.--mid,
  input[type="submit"].neon-btn.btn__size.--mid {
    min-width: 80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 12px;
  }
  button.neon-btn.btn__size.--small,
  input[type="button"].neon-btn.btn__size.--small,
  input[type="submit"].neon-btn.btn__size.--small {
    min-width: auto;
    padding: 5px;
  }
}

@media all {
  div.card {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    width: 100%;
  }
  div.card > .border__bottom {
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
  }
  div.card > .border__top {
    border-top: 1px solid rgba(26, 54, 126, 0.125);
  }
  div.card div.card__header,
  div.card div.card__body,
  div.card div.card__footer {
    padding: 20px;
  }
  div.card div.card__header *.card__header__figure {
    margin-right: 10px;
  }
  div.card div.card__header *.card__title {
    font-size: 1.1rem !important;
    margin: 0;
  }
}

@media all {
  form.metro-form {
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    outline: none;
  }
  form.metro-form fieldset {
    border: none !important;
    display: block;
    margin-bottom: 1rem;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    -webkit-padding-before: 0;
            padding-block-start: 0;
    -webkit-padding-after: 0;
            padding-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-padding-end: 0;
            padding-inline-end: 0;
  }
  form.metro-form fieldset input[type="number"]:required
input[type="email"]:required,
  form.metro-form fieldset input[type="text"]:required {
    background-color: rgba(255, 255, 0, 0.1) !important;
  }
  form.metro-form input[type="date"],
  form.metro-form input[type="email"],
  form.metro-form input[type="number"],
  form.metro-form input[type="password"],
  form.metro-form input[type="text"],
  form.metro-form input[type="time"],
  form.metro-form input[type="url"],
  form.metro-form select,
  form.metro-form textarea {
    background-color: #f5f5f6;
    border: 1px solid #dfdfdf;
    border-radius: 3px !important;
    color: #5c5c5c;
    height: 30px;
    padding: 5px 8px !important;
    width: calc(100% - 18px);
  }
  form.metro-form input[type="date"]:active, form.metro-form input[type="date"]:focus,
  form.metro-form input[type="email"]:active,
  form.metro-form input[type="email"]:focus,
  form.metro-form input[type="number"]:active,
  form.metro-form input[type="number"]:focus,
  form.metro-form input[type="password"]:active,
  form.metro-form input[type="password"]:focus,
  form.metro-form input[type="text"]:active,
  form.metro-form input[type="text"]:focus,
  form.metro-form input[type="time"]:active,
  form.metro-form input[type="time"]:focus,
  form.metro-form input[type="url"]:active,
  form.metro-form input[type="url"]:focus,
  form.metro-form select:active,
  form.metro-form select:focus,
  form.metro-form textarea:active,
  form.metro-form textarea:focus {
    border-bottom-color: #8e44ad !important;
  }
  form.metro-form select {
    height: 42px !important;
    width: 100% !important;
  }
  form.metro-form textarea {
    resize: vertical !important;
  }
  form.metro-form label {
    display: block;
    -webkit-filter: opacity(65%);
            filter: opacity(65%);
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
  }
}

/*
    Hacks para o select2
*/
@media all {
  .select2-dropdown {
    z-index: 0 !important;
  }
  .select2 {
    width: 100% !important;
  }
  span.select2-selection.select2-selection--single {
    border: 1px solid #dfdfdf;
  }
  span.select2-selection__arrow {
    height: 40px !important;
  }
  span.select2-selection.select2-selection--single,
  span.select2-selection__rendered {
    height: 42px;
  }
  .select2-selection__rendered {
    line-height: 42px !important;
  }
}

@media all {
  .metro-icon svg path {
    fill: inherit !important;
  }
}

@media all {
  .neon-table .dataset__amoung {
    display: block;
    font-size: 14px;
    padding: 20px 0px;
  }
  .neon-table table.neon-table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
  }
  .neon-table table.neon-table tr td,
  .neon-table table.neon-table tr th {
    padding: 10px;
  }
  .neon-table table.neon-table thead {
    border-bottom: 1px solid #ccc;
  }
  .neon-table table.neon-table thead.neon-table__radius tr th:first-of-type {
    border-radius: 10px 0px 0px 0px;
  }
  .neon-table table.neon-table thead.neon-table__bgc.--primary {
    background-color: var(--neon-table-thead-bgc);
  }
  .neon-table table.neon-table thead.neon-table__bgc.--primary th {
    color: var(--neon-table-thead-text-color) !important;
  }
  .neon-table table.neon-table thead th {
    color: #5c5c5c;
    text-align: left;
    text-transform: uppercase;
  }
  .neon-table table.neon-table tr:nth-child(even) {
    background-color: #fbfbfb;
  }
  .neon-table table.neon-table tbody.neon-table__body.table__action.--hide button {
    display: none;
  }
  .neon-table table.neon-table tbody tr:hover {
    background-color: #f1f1f1;
    text-shadow: 0px 0px 1px #3c3c3c;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  .neon-table table.neon-table tbody tr td {
    border-bottom: 1px solid #f1f1f1;
    color: #5c5c5c;
    font-size: 12px;
  }
}

@media all {
  table.neon-table thead th.tcol__px.size__10 {
    width: 10px;
  }
  table.neon-table thead th.tcol__px.size__20 {
    width: 20px;
  }
  table.neon-table thead th.tcol__px.size__30 {
    width: 30px;
  }
  table.neon-table thead th.tcol__px.size__40 {
    width: 40px;
  }
  table.neon-table thead th.tcol__px.size__50 {
    width: 50px;
  }
  table.neon-table thead th.tcol__px.size__70 {
    width: 70px;
  }
  table.neon-table thead th.tcol__px.size__80 {
    width: 80px;
  }
  table.neon-table thead th.tcol__px.size__100 {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .neon-table {
    overflow-x: auto;
  }
}

/**
* @Desc: 	Utilizado para criar blocos longos de textos, seja para avisos ou informações em geral
* @Author: 	Eduardo Marinho;
* @Version:	1.0.220118
**/
@media all {
  div.warning {
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    margin: 10px auto;
    width: auto;
  }
  div.warning.--alert {
    background-color: #ffeeba;
    border: 1px solid #ffe082;
    color: #856404;
  }
  div.warning.--danger {
    background-color: #f8d7da;
    border: 1px solid #f8d7da;
    color: #721c24;
  }
  div.warning.--info {
    background-color: #d0eeff;
    border: 1px solid #bee7ff;
    color: #0b5885;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  div.warning {
    text-align: center;
  }
  div.warning.--align__initial {
    text-align: initial !important;
  }
}

@media all {
  div.neon-window {
    background-color: white;
  }
  div.neon-window .neon-window__header,
  div.neon-window .neon-window__body,
  div.neon-window .neon-window__footer {
    padding: 20px;
  }
}

@media all {
  section.workspace {
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }
  section.workspace.--underline div.workspace__header,
  section.workspace.--underline div.workspace__body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  section.workspace div.workspace__header h2.workspace__title {
    color: var(--baseTextColor);
    font-size: 18px !important;
    font-weight: 400;
    -webkit-filter: opacity(90%);
            filter: opacity(90%);
    letter-spacing: 1pt;
    margin: 0px;
    text-transform: initial;
  }
  section.workspace div.workspace__header h4 {
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  section.workspace div.workspace__header.--underline {
    border-bottom: 1px solid #f0f0f0;
  }
  section.workspace div.workspace__header,
  section.workspace div.workspace__body,
  section.workspace div.workspace__footer {
    padding: 20px 15px 20px;
  }
}

@media all {
  :root {
    /*Cores opcionais*/
    --color-ametist: #8e44ad;
    --color-carbon: #2d3436;
    --colorCarrot: #e67e22;
    --color-crimson: #ff5252;
    --colorDeepRose: #c44569;
    --color-emerald: rgb(49, 155, 84);
    --colorJade: rgb(0, 168, 107);
    --colorPorcelainRose: #e66767;
    --colorPewter: #8e9294;
    --colorLuckyPoint: #2c2c54;
    --color-ruby: rgba(153, 12, 65, 1);
    --colorSapphire: rgba(6, 32, 73, 1);
    --colorSilver: #c0c0c0;
    --colorStrongCyan: #0fa8ba;
    --colorTopaz: rgb(231, 223, 84);
    /*Cores opcionais com transparência*/
    --baseColor3Transparent: rgba(92, 156, 204, 0.2);
    --colorEmeraldTransparent: rgba(44, 99, 75, 0.2);
    --colorTopazTransparent: rgba(231, 223, 84, 0.3);
    /*Imagens gradiente*/
    --baseGradientColor: linear-gradient(to top, #2980b9, #5c9ccc) !important;
  }
  *.bg__color.--primary {
    background-color: var(--primary_color) !important;
  }
  *.bg__color.--secondary {
    background-color: var(--secondary-color) !important;
  }
  *.bg__color.--ametist {
    background-color: var(--color-ametist) !important;
  }
  *.bg__color.--crimson {
    background-color: var(--color-crimson) !important;
  }
  *.bg__color.--emerald {
    background-color: var(--color-emerald) !important;
  }
  *.bg__color.--ruby {
    background-color: var(--color-ruby) !important;
  }
  *.text__color.--white {
    color: white !important;
  }
}

/**
* @desc: definições para usar elementos usando com o modelo grid GS
**/
@media all {
  .flex__row {
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .col__1,
  .col__2,
  .col__3,
  .col__4,
  .col__5,
  .col__6,
  .col__7,
  .col__8,
  .col__9,
  .col__10,
  .col__11,
  .col__12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 7.5px 15px !important;
    position: relative;
  }
  .col__1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33%;
            flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col__2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.667%;
            flex: 0 0 16.667%;
    max-width: 16.667%;
  }
  .col__3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col__4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col__5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.667%;
            flex: 0 0 41.667%;
    max-width: 41.667%;
  }
  .col__6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col__7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33%;
            flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col__8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.667%;
            flex: 0 0 66.667%;
    max-width: 66.667%;
  }
  .col__9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col__10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83%;
            flex: 0 0 83%;
    max-width: 83%;
  }
  .col__11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66%;
            flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col__12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  *.row {
    padding: 10px 0px;
  }
}

/**
  * @desc: definições para quando a tela for mobile
  **/
@media all and (max-width: 800px) {
  .col__1,
  .col__2,
  .col__3,
  .col__4,
  .col__5,
  .col__6,
  .col__7,
  .col__8,
  .col__9,
  .col__10,
  .col__11,
  .col__12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: initial;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
  }
}

@media all {
  *.float.--left {
    float: left !important;
  }
  *.font__style.--bold {
    font-weight: bold !important;
  }
  *.font__style.--bold {
    font-weight: bold !important;
  }
  *.font__style.--normal {
    font-style: normal !important;
  }
  *.font__style.--italic {
    font-style: italic !important;
  }
  *.font__weight.--normal {
    font-weight: normal !important;
  }
  *.text__align.--center {
    text-align: center !important;
  }
  *.text__align.--left {
    text-align: left !important;
  }
  *.text__align.--right {
    text-align: right !important;
  }
  *.border__radius.--rad__10 {
    border-radius: 10px !important;
  }
  *.border__radius.--rad__20 {
    border-radius: 20px !important;
  }
  *.border__radius.--rad__30 {
    border-radius: 30px !important;
  }
  *.border__bottom.--zero {
    border-bottom: 0px !important;
  }
  *.padding.--zero {
    padding: 0px !important;
  }
  *.padding__horizontal.--zero {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media all {
  *.overflow.--horizontal {
    overflow-x: auto !important;
    overflow-y: hidden !important;
  }
  *.overflow.--vertical {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  *.overflow.both {
    overflow-x: auto !important;
    overflow-y: auto !important;
  }
}

@media all {
  body.metro-template {
    background-color: #f2f2f2;
    color: var(--body-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
  }
  body.metro-template h1,
  body.metro-template h2,
  body.metro-template h3,
  body.metro-template h4,
  body.metro-template h5,
  body.metro-template h6 {
    color: var(--body-color);
  }
  header.metro-template-header {
    background-color: white;
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
            box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
  header.metro-template-header div.metro-template-header-area {
    width: 100%;
  }
  header.metro-template-header div.metro-template-header-area:first-child, header.metro-template-header div.metro-template-header-area:last-child {
    max-width: 60px !important;
  }
  header.metro-template-header div.metro-template-header-area button {
    background-color: transparent;
    border: 0 !important;
    cursor: pointer;
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
    height: 60px;
    margin: 0;
    width: 60px;
  }
  header.metro-template-header div.metro-template-header-area button:hover {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  header.metro-template-header div.metro-template-header-area button:hover#metro-template-menu {
    background-color: #ccc;
  }
  header.metro-template-header div.metro-template-header-area button#metro-template-menu-user img {
    border-radius: 100%;
    width: 38px !important;
  }
  main.metro-template-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: calc(100vh - 60px);
    padding-top: 60px;
  }
  main.metro-template-main aside.metro-template-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
    width: 100%;
  }
  main.metro-template-main aside.metro-template-aside.metro-template-aside-side-menu {
    background-color: var(--primary_color);
    color: #fff !important;
    overflow-x: hidden !important;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    width: 0px;
  }
  main.metro-template-main aside.metro-template-aside.metro-template-aside-side-menu li {
    font-size: 0px;
  }
  main.metro-template-main aside.metro-template-aside.metro-template-aside-side-menu.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    width: 280px;
  }
  main.metro-template-main aside.metro-template-aside.metro-template-aside-content {
    padding: 10px;
  }
}

@media all and (max-width: 768px) {
  aside.metro-template-aside-side-menu {
    height: calc(100% - 60px) !important;
    position: absolute;
    z-index: 1;
  }
}
/*# sourceMappingURL=core.css.map */