@media all {
    div.metro-page__header {
        align-items: center;
        box-sizing: border-box;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: row;
        padding: 30px 40px;
        margin: -10px -10px 20px;

        .metro-page__icon,
        .metro-page__info,
        .metro-page__action {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .metro-page__icon {
            width: max-content !important;
            figure {
                background-color: #fff;
                border-radius: 3px !important;
                box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
                    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
                display: flex;
                justify-content: center;
                vertical-align: middle;
                height: 52px;
                width: 52px;
                margin: 0;
                margin-right: 10px !important;

                img {
                    width: 28px;
                }
            }
        }

        .metro-page__action {
            align-items: end;
            flex-direction: row;
            width: auto !important;

            button {
                margin: 0 5px;
                min-width: auto !important;
            }
        }

        .--title {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
        }
        .--subtitle {
            padding: 3px 0 0;
            font-size: 0.88rem;
            opacity: 0.6;
        }
    }
    div.metro-page__body {
        padding: 0px 30px
    }
}
