@media all {
    div.tab__wrap {
        nav.tab__collector {
            border-bottom: 1px solid #f1f1f1;
            display: flex;
            flex-direction: row;
            gap: 10px;
            overflow-x: auto;
            // padding: 10px;

            a {
                color: #929daf;
                display: flex;
                flex-direction: column;
                filter: opacity(80%);
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                text-decoration: none !important;

                &:focus,
                &:hover {
                    filter: opacity(100%);

                    span {
                        color: var(--primary_color);
                        border-bottom: 0.5px solid var(--primary_color);
                    }
                }

                &.--active {
                    span {
                        color: var(--primary_color);
                        border-bottom: 2px solid var(--primary_color);
                    }
                }

                span {
                    background-position: 0 18px;
                    background-repeat: no-repeat;
                    background-size: 14px;
                    margin: 0 auto;
                    padding: 14px 15px 10px;
                    transition: color 0.5s ease-in-out;
                    width: max-content;

                    .metro-icon {
                        float: left;
                        margin-right: 5px !important;
                        margin-top: 2px !important;
                    }
                }
            }
        }

        div.tab__container {
            .tab {
                display: none;

                &.--active {
                    display: block !important;
                }
            }
        }
    }
}
